@charset "utf-8";
/* CSS Document */

.shop_txt{ color:#666; line-height:2em; font-size:1.5em; margin:12px; letter-spacing:1px;}
.shop_txt_2{ float:left; width:296px; color:#8c8e8f; line-height:1.8em; font-size:1.5em; margin:0px 12px 12px 12px; letter-spacing:1px;text-align:justify; text-justify:inter-ideograph;}


