@charset "utf-8";
/* CSS Document */
*{border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto; color:#fff}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img { border: 0;  height:auto}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#fff;outline:none;}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
.page-group { background:none}
.page { background:none}
.bar-nav{position: absolute;top:.8rem}
.bar { background:none; border:none}

.button { border:none;}
.pull-left-icon{ width:2.4rem; height:2.4rem; margin: .3rem; background:url(../img/ic_person.png) no-repeat center center; background-size:60%; border-radius: 50%;}
.pull-left-icon:active{ background:#041a63 url(../img/ic_person.png) no-repeat center center; background-size:60%}
.pull-right-icon { width:2.4rem; height:2.4rem; margin: .3rem; background:url(../img/radio_icon.png) no-repeat center center;background-size:75%; border-radius: 50%;}
.pull-right-icon:active{ background:#041a63 url(../img/radio_icon.png) no-repeat center center; background-size:75%}
.group { position:relative;height:4.8rem; line-height:4.8rem; width:12.8rem; margin:.5rem auto 0 auto; text-align:center}

.pull-right{margin:.4rem 0 0 0;}
.button1 { height:4rem; width:4rem; background:url(../images/radio_pre.png) no-repeat; background-size:100%; float:left; margin-top:.4rem}
.button1:active{background:url(../images/radio_pre_hover.png) no-repeat;background-size:100%;}

.button2{ height:4.8rem; width:4.8rem; background:url(../img/radio_play.png) no-repeat; background-size:100%; float:left;}
.button2:active{background:url(../imagesradio_play_hover.png) no-repeat;background-size:100%;}
#btn-play{display:none;}
#btn-pause{ height:4.8rem; width:4.8rem; background:url(../images/radio_pause.png) no-repeat; background-size:100%; float:left;}
#btn-pause:active{background:url(../imagesradio_pause_hover.png) no-repeat;background-size:100%;}


.button3 { height:4rem; width:4rem; background:url(../images/radio_next.png) no-repeat; background-size:100%; float:left; margin-top:.4rem}
.button3:active{background:url(../images/radio_next_hover.png) no-repeat;background-size:100%;}


.list-icons { display:none;position:absolute; right:-3rem; top:1rem;width:2rem; height:2rem; position:absolute;  }
.list-icons img{width:100%;}
.list-popup { position: fixed; width: 100%; height:70%; display: none; background: #333; z-index: 1000; border-top: #000 1px solid; opacity: .97;color:#fff; overflow:auto}
.list-popup  h3{text-align:center; line-height:40px; font-size:20px; font-weight:normal; color:#ccc;  border-bottom:#444 1px solid;}
.list-popup ul { margin: 0; padding: 0; }
.list-popup ul li { height:50px; line-height:30px; list-style: none; text-align: center; border-bottom: #444 1px solid; font-size: 20px; color:#fff; background: #333; padding:10px 15px; }
.list-popup ul li  span{ display:inline-block; float:left;}
.list-popup ul li img{ border:#ccc 2px solid; border-radius:50%; margin:0 8px 0 0}
.list-popup ul li:active{ background:#555;}

.list-icon {width:1rem; height:1rem; position:absolute; bottom:1rem; right:1rem; }
.list-icon img{ display:block; width:1rem; height:1rem;}
.panel { background:#384043;}
.panel dl { width:100%; height:8rem; margin:2rem auto; text-align:center;}
.panel dl dt {}
.panel dl dt img {width:4.8rem; height:4.8rem; border-radius:50%;border:#999 3px solid; }
.panel dl dd { font-size:1.3rem}
.panel ul { }
.panel ul li { height:3.2rem; border-bottom:#666 1px solid; color:#fff; padding:0 0 0 1rem; line-height:3.2rem; font-size:1rem}
.panel ul li:hover{background:#1d4884;}
.panel ul li i{margin:0 5px 0 0;}
.panel ul li .icon1 { display:inline-block; width:.8rem;  padding-top:.3rem;}
.panel ul li .icon2 {display:inline-block;width:.8rem; padding-top:.3rem}
.panel ul li .icon3 {display:inline-block; width:.8rem;  padding-top:.3rem}
.panel ul li .icon4 {display:inline-block;width:.8rem;  padding-top:.3rem}
.pbtn { width:90%; height:2.6rem; background:#1d4884; color:#fff; font-size:1.2rem; border-radius:.2rem; margin:0 auto;display:block; text-align: center; line-height: 2.6rem;;}
.pbtn:hover{ background: #0254cd;}
.content-block{padding: 0;}
/*login*/
.bar .button-link { color:#fff; background-image:url(../img/back_icon1.png); background-repeat:no-repeat; background-size:20%; background-position:center left; padding-left:.6rem;}
.bar .button-link2 { color:#333; background-image:url(../img/back_icon2.png); background-repeat:no-repeat; background-size:20%; background-position:center left; padding-left:.6rem;}
.loginbg {background:url(../img/login_bg.jpg) no-repeat; background-size: cover; background-position: 50% 50%;}
.login { height:16rem; margin:10rem .5rem 0 .5rem; background-color:rgba(25,139,228,0.5);}
.login ul { padding:.6rem 1.4rem}
.login ul li { line-height:2.4rem}
.loginuser { width:100%; background:url(../img/user.png) no-repeat; background-size:7%; background-position:center left; padding-left:1.6rem; height:2rem; border-bottom:1px solid #def0ff}
.loginpwd { width:100%; background:url(../img/password.png) no-repeat; background-size:7%; background-position:center left; padding-left:1.6rem; height:2rem; border-bottom:1px solid #def0ff}
.loginbtn { width:90%; margin-top:1.6rem; margin-left:.6rem; margin-bottom:.4rem; height:2rem; border-radius:0.2rem; background:#198be4;}
.loginreg { text-align:center; margin-top:.5rem}
.login label { padding-left:1.6rem;}
/*register*/
.regtitle { background:#198be4}
.regbg { background:#fff}
.register { padding:1rem;}
.register li { margin-bottom:1rem}
.inpreg { width:100%; border:1px solid #ddd; background:#eee; color:#666; height:2.4rem; line-height:2.4rem; padding:0 .5rem; border-radius:.1rem}
.inpreg:hover {width:100%;  height:2.4rem; line-height:2.4rem; border:1px solid #a4e9ff; background:#fff; border-radius:.1rem}
.regbtn {width:100%;  height:2.4rem; line-height:2.4rem; background:#198be4; border-radius:.2rem}
.regbtn:hover {width:100%;  height:2.4rem; background:#fec106}

/*list*/
.search-icon { background:url(../img/abc_ic_search_api_mtrl_alpha.png) no-repeat; background-size:100%; width:1rem; height:1rem;}
.select { color:#333; padding-left:.8rem; padding-top:.6rem; font-size:.8rem}
.select .tbtn { width:2.6rem; height:1.2rem; line-height:1.2rem; color:#fff; background:#9C0; border-radius:.2rem; font-size:.7rem}
.list-block { margin:.8rem .6rem;}
.list-block .item-content { padding-right:.75rem}
.item-inner { color:#333}
.fbtn { position:fixed; bottom:0; width:100%; height:2rem; line-height:2rem; background:#9C0; color:#fff; text-align:center}
.facebook-avatar { padding-right:.4rem}
.facebook-name { color:#333}
.item-media {color:#333}

.upload_audio_box,.upload_avatar_box{width:150px; height:150px;margin:0 auto; background:url(../img/upload.svg) no-repeat center center; background-size:100%; position:relative }
.add_audio_img{background:url(../img/music_default.png) no-repeat center center; background-size:85%;}
.upload_audio,.upload_avatar{width:150px; height:150px; background:#000; display:block;  opacity:0; position:absolute; z-index:100; top:0;}
.upload_avatar_img{ width:150px; height:150px; border-radius:50%;}
.upload_audio_title{text-align:center;}

.update{ background:#39F; color:#fff; padding:30px 20px;}
.icon-update{ width:80px; height:80px; background:#3CF url(../img/update.svg) no-repeat center center; background-size:60%;  border-radius:50%; margin:0 auto; display:block;}
.update_content{ padding:20px;}
.update_txt{text-align:center;}
.update_text{color:#333; background:#fff; border:#ddd 1px solid; border-radius:6px; margin:15px 0;}
.update_text p{padding:10px; margin:0; color:#666; font-size:14px;}
.update_ver{border-bottom:#ddd 1px solid; font-weight:bold; color:#000; font-size:22px;}
.update_text em{font-style:normal; display:inline-block; background:#F90; color:#fff; padding:2px 5px; border-radius:4px; font-size:12px;}
.button.button-update{background:#39F;}

 .circle{ -webkit-animation: Circles 1s linear infinite 0s forwards; animation: Circles 1s linear infinite 0s forwards; }
@-webkit-keyframes Circles {  from {
 -webkit-transform: rotate(0deg);
}
to { -webkit-transform: rotate(360deg); }
}
@keyframes Circles {  from {
 transform: rotate(0deg);
}
to { transform: rotate(360deg); }
}


